* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondo.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: #212121;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#navbar-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que esté encima */
    background-color: white; /* Asegura que tenga un color de fondo visible */
}

.form-container {
    margin-top: 100px; /* Ajusta según la altura del navbar */
}


.logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 1000;
}


.logo {
    width: 200px;
    height: auto;
    border-radius: 8px;
    padding: 10px;
    background-color: transparent;
    max-width: 100%;
}

.form-container {
    background-color: #fff;
    color: #212121;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease, background-color 0.3s ease;

}


h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 600;
    color: #FFC239;
    text-transform: uppercase;
    border: #212121 1px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #212121;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

/* Estilo de los inputs */
.input-rut, .input-text {
    padding: 14px;
    border: 2px solid #212121;
    border-radius: 6px;
    background-color: #f9f9f9;
    color: #212121;
    font-size: 16px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input-text {
    width: 100%;
}
#footer-container {
    width: 100%;
    background-color: #212121;
    color: white;
    padding: 30px 0;
    text-align: center;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.input-rut {
    width: calc(100% - 0px);
}

.input-rut:focus, .input-nrov:focus, .input-text:focus {
    border-color: #FFC239;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 195, 57, 0.6);
}

button {
    background-color: #FFC239;
    color: #fff;
    border: none;
    padding: 16px;
    width: 100%;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

button:hover {
    background-color: #FFB533;
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(1px);
}

/* Responsividad */
@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .logo-container {
        padding: 10px;
    }

    .form-container {
        padding: 20px;
        width: 90%; /* Ajuste para que el formulario ocupe un mayor ancho */
        margin-top: 20%;
    }

    h2 {
        font-size: 22px;
    }

    label {
        font-size: 12px;
    }

    .input-rut, .input-text, button {
        font-size: 14px;
        padding: 12px;
    }

    button {
        font-size: 16px;
    }

    .message {
        font-size: 12px;
    }
}

.footer {
    background-color: #212121;
    color: #fff;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    height: 180px;
}
.form-container:hover{

    transform: translateY(2px); 
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    gap: 12px;
}

.footer-logo {
    width: 200px;
}

.social-buttons {
    display: flex;
    gap: 20px;
}

.social-btn {
    font-size: 30px;
    padding: 12px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transition: transform 0.3s ease;
}

.social-btn:hover {
    transform: scale(1.2);
}

.instagram-btn {
    background-color: #E4405F;
    color: white;
}

.facebook-btn {
    background-color: #3b5998;
    color: white;
}

.website-btn {
    background-color: #212121;
    color: #ffffff;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-left: 50%;
    max-width: 300px;
    line-height: 1.5;
    font-size: 16px;
}


.footer-center p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.footer-center a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-center a:hover {
    color: #FFC239;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    max-width: 300px;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 5%;
}

#contact:hover {
    color: #FFB533;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.social-btn i {
    font-size: 22px;
    color: white;
}