.container-center {
    text-align: center; /* Centra el título */
    margin-bottom: 30px; /* Espacio entre el título y la tabla */
}

.container-fluid {
    padding-top: 80px; /* Ajuste para el navbar */
    display: block; /* Elimina el comportamiento de flex para que los elementos no se alineen horizontalmente */
}





