

.container-fluid {
    padding-top: 100px; /* Ajuste para el navbar */
}

.container-center {
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 6px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #def2f1;
    color: #17252a;
}

a {
    color: #c0392b;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
